{% extends 'base.html' %} 
{% block title %} 
{{ super() }}
Registrarse 
{% endblock %} 
{% block navbar %} 
{% include 'navbar_2.html' %} 
{% endblock %} 
{% block content %}

<section id="signup" class="contact-section contact-style-6 bg-white">
	<div class="container justify-content-center">
		<div class="row">
			<div class="col-md-5 m-5 mid-image order-last order-md-first">
				<div class="hero-image cup-strar d-flex p-5 p-md-1">
					<img src="{{url_for('static',filename='/images/Online.svg')}}" alt="Registrase" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="content-wrapper">
					<div class="section-title">
						<h3 class="mb-30">Registrarse</h3>
						<div class="contact-form-wrapper">
							<form action="{{ url_for('auth.signup') }}" method="POST">
								<fieldset>
									<div class="single-input mb-1">
										{{ signup_form.csrf_token() }}
										<label for="nombre">
											<h6>{{signup_form.nombre.label()}}</h6>
										</label>
										{{signup_form.nombre(title_="Nombre de usuario sin espacios.")}}
										<small id="nombre-help" class="form-text text-muted">Usuario de ingreso a DEMI app, no debe contener
											espacios.</small>
										{% if signup_form.nombre.errors %} {% for error in signup_form.nombre.errors %}
										<div class="error-input">{{error}}</div>
										{% endfor %} {% endif %} {% if not val_name %}
										<div class="error-input">El usuario ya se encuentra registrado</div>
										{% endif %}
									</div>
								</fieldset>
								<fieldset>
									<div class="single-input mb-1">
										<label for="contraseña">
											<h6>{{signup_form.contraseña.label()}}</h6>
										</label>
										{{signup_form.contraseña(title_="Contraseña entre 4 y 16 caracteres, se permiten combinación de números, letras y
										caracteres especiales.")}}
										<small id="contraseña-help" class="form-text text-muted">De 4 a 16 caracteres, acepta combinación de
											números, letras y caracteres especiales.</small>
										{% if signup_form.contraseña.errors %} {% for error in
										signup_form.contraseña.errors %}
										<div class="error-input">{{error}}</div>
										{% endfor %} {% endif %}
									</div>
								</fieldset>
								<fieldset>
									<div class="single-input mb-1">
										<label for="contraseña-conf">
											<h6>{{signup_form.contraseña_conf.label()}}</h6>
										</label>
										{{signup_form.contraseña_conf(title_="Ingresa nuevamente la contraseña propuesta.")}} {% if signup_form.contraseña_conf.errors %} {%
										for error in signup_form.contraseña_conf.errors %}
										<small id="contraseña-conf-help" class="form-text text-muted">Ingresa nuevamente la contraseña propuesta.</small>
										<div class="error-input">{{error}}</div>
										{% endfor %} {% endif %}
									</div>
								</fieldset>
								<fieldset>
									<div class="select-input">
										<label for="cargo">
											<h6>{{signup_form.cargo.label()}}</h6>
										</label>
										{{signup_form.cargo(title_="Cargo de docente por defecto.")}}
										<small id="cargo-help" class="form-text text-muted">Rol dentro de DEMI app, cargo de docente predeterminado.</small>
									</div>
								</fieldset>
								<div class="text-center">
									<p>
										{{signup_form.terminos(class_="form-check-input")}} Política de
										<a href="#terminos y condiciones">tratamiento de datos personales</a>*
									</p>
								</div>
								<fieldset>
									<div class="mt-10">
										{{signup_form.iniciar(class_="form-button button radius-10 w-100")}}
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
