{% extends 'base.html' %}

{% block title %}
{{ super() }}
404
{% endblock %}

{% block content %}
<section id="iniciar_terapia" class="contact-section contact-style-6 bg-white">
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-lg-5 ml-80 pr-100">
        <div class="hero-image cup-strar">
          <img src="{{url_for('static',filename='/images/500.svg')}}" alt="" class="wow fadeInRight"
            data-wow-delay=".2s"
            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight; max-width: 80%; ">
        </div>
      </div>
      <div class="col-lg-5">
        <div class="content-wrapper">
          <div class="section-title mb-40">
            <h1>500 Oops!</h1>
            <div class="mb-150 contact-form-wrapper">
              <h3 class="mb-40">Error interno del servidor</h3>
              <h5 class="mb-40 text-secondary">Wow... no estamos acostumbrados a esto, infórmanos que sucedió y ayúdanos a mejorar :)</h5>
              <div class="buttons">
                <a href="{{url_for('inicio')}}" class="button button-lg btn-block radius-10 wow fadeInUp"
                  data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">Volver al inicio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{%block footer%}
{% include 'footer.html' %}
{% endblock %}