<!DOCTYPE html>
<html lang="es">
  <head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-5.0.0-alpha-2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/LineIcons.2.0.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/tiny-slider.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/glightbox.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/animate.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/lindy-uikit.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>
      {% block title %} DEMI |{% endblock %}
    </title>
  {% endblock %}
  </head>
  <body>
  
  {% block body%}
    {% block navbar %}

    {% endblock %}
    
    {% for message in get_flashed_messages() %}
    <div id="message" class="flash-msg alert alert-primary d-flex fixed-top align-items-center alert-dismissible fade show container"
      role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
        <use xlink:href="#info-fill" />
      </svg>
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}


    
    {% block content %}
    {% endblock %}

    {% block footer%}
    {% endblock %}

    {% block scripts%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/bootstrap.5.0.0.alpha-2-min.js')}}"></script>
    <script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <script src="{{url_for('static',filename='js/tiny-slider.js')}}"></script>
    <script src="{{url_for('static',filename='js/count-up.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/imagesloaded.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/isotope.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/glightbox.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/contact-form.js')}}"></script>

    <script>
      $("document").ready(function () {
        setTimeout(function () {
          $("#message").remove();
        }, 5000);

      });
    </script>

    {% endblock %}

  {% endblock %}
  </body>
</html>