<!-- {% extends 'base.html' %}

{% block title %}
{{ super() }}
404
{% endblock %}

{% block content %}
<section id="iniciar_terapia" class="contact-section contact-style-6 bg-white">
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-lg-5 ml-80 pr-100">
        <div class="hero-image cup-strar">
          <img src="{{url_for('static',filename='/images/404.svg')}}" alt="" class="wow fadeInRight"
            data-wow-delay=".2s"
            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight; max-width: 80%; ">
        </div>
      </div>
      <div class="col-lg-5">
        <div class="content-wrapper">
          <div class="section-title mb-40">
            <h1>404 Oops!</h1>
            <div class="mb-150 contact-form-wrapper">
              <h3 class="mb-40">Pagina no disponible</h3>
              <h5 class="mb-40 text-secondary">Intentas acceder a una pagina que no existe, prueba volviendo al inicio y
                busca de nuevo.</h5>
              <div class="buttons">
                <a href="{{url_for('inicio')}}" class="button button-lg btn-block radius-10 wow fadeInUp"
                  data-wow-delay=".7s"
                  style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">Volver al inicio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  var socket = io();
  socket.on('connect', function () {
    socket.emit('my event', { data: 'I\'m connected!' });
  });
  var video = document.querySelector("#videoElement");
  
  if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
  .then(function (stream) {
  video.srcObject = stream;
  })
  .catch(function (err0r) {
  console.log("Something went wrong!");
  });
  }
  
  document.getElementById('videoElement').addEventListener('change', function () {
  
  const reader = new FileReader();
  reader.onload = function () {
  const bytes = new Uint8Array(this.resul);
  socket.emit('image', bytes);
  };
  reader.readAsArrayBuffer(this.files[0]);
  
  }, false);
  
  var io = require('socket.io').listen(5000);
  io.sockets.on('connection', function (socket) {
  socket.on('image', function (msg) {
  console.log("DATA!!!");
  });
  });



</script>
{% endblock %}


{%block footer%}
{% include 'footer.html' %}
{% endblock %} -->





<!-- 
<script>
  var socket = io.connect('http://localhost:5000');

  socket.emit('image', 'hello');
  var video = document.querySelector("#videoElement");

  if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
      .then(function (stream) {
        video.srcObject = stream;
        console.log(typeof (stream))
      })
      .catch(function (err0r) {
        console.log(err0r);
      });
  }

  document.getElementById('videoElement').addEventListener('change', function () {
    console.log('escucha')
    console.log($('#videoElement').val());
  })

  function readThenSendFile(data) {

    var reader = new FileReader();
    reader.onload = function (evt) {
      console.log("funcion de envio");
      const bytes = new Uint8Array(data);
      socket.emit('image', data);
    };
    reader.readAsDataURL(data);
  }
</script> -->

<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Flat - Bootstrap 5 Template</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="assets/css/bootstrap-5.0.0-alpha-2.min.css">
  <link rel="stylesheet" href="assets/css/LineIcons.2.0.css">
  <link rel="stylesheet" href="assets/css/tiny-slider.css">
  <link rel="stylesheet" href="assets/css/glightbox.min.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/lindy-uikit.css">
  <script
    data-dapp-detection="">!function () { let e = !1; function n() { if (!e) { const n = document.createElement("meta"); n.name = "dapp-detected", document.head.appendChild(n), e = !0 } } if (window.hasOwnProperty("ethereum")) { if (window.__disableDappDetectionInsertion = !0, void 0 === window.ethereum) return; n() } else { var t = window.ethereum; Object.defineProperty(window, "ethereum", { configurable: !0, enumerable: !1, set: function (e) { window.__disableDappDetectionInsertion || n(), t = e }, get: function () { if (!window.__disableDappDetectionInsertion) { const e = arguments.callee; e && e.caller && e.caller.toString && -1 !== e.caller.toString().indexOf("getOwnPropertyNames") || n() } return t } }) } }();</script>
  <style></style>
</head>

<body>
  <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

  <div class="preloader" style="opacity: 0; display: none;">
    <div class="loader">
      <div class="spinner">
        <div class="spinner-container">
          <div class="spinner-rotator">
            <div class="spinner-left">
              <div class="spinner-circle"></div>
            </div>
            <div class="spinner-right">
              <div class="spinner-circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section id="home" class="hero-section-wrapper-2">

    <header class="header header-2">
      <div class="navbar-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html">
                  <img src="assets/img/logo/logo.svg" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent2">
                  <ul id="nav2" class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="page-scroll active" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                  </ul>
                  <a href="#0" class="button button-sm radius-10 d-none d-lg-flex">Get Started</a>
                </div>

              </nav>

            </div>
          </div>

        </div>

      </div>

    </header>


    <div class="hero-section hero-style-2">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-lg-6">
            <div class="hero-content-wrapper">
              <h4 class="wow fadeInUp" data-wow-delay=".2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Bootstrap 5</h4>
              <h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Flat Design HTML Template
              </h2>
              <p class="mb-50 wow fadeInUp" data-wow-delay=".6s"
                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Lorem ipsum dolor sit
                amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer</p>
              <div class="buttons">
                <a href="#0" class="button button-lg radius-10 wow fadeInUp" data-wow-delay=".7s"
                  style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">Hire Us</a>
                <a href="#" class="video-button glightbox wow fadeInUp" data-wow-delay=".8s"
                  style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;"> <span class="icon"><i
                      class="lni lni-play"></i></span> <span>Watch now</span> </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hero-image">
              <img src="assets/img/hero/hero-2/hero-img.svg" alt="" class="wow fadeInRight" data-wow-delay=".2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
              <img src="assets/img/hero/hero-2/paattern.svg" alt="" class="shape shape-1">
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section id="services" class="feature-section feature-style-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-xl-7 col-lg-10 col-md-9">
              <div class="section-title mb-60">
                <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s"
                  style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">The future of designing
                  starts here</h3>
                <p class="wow fadeInUp" data-wow-delay=".4s"
                  style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">Stop wasting time and money
                  designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="single-feature wow fadeInUp" data-wow-delay=".2s"
                style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                <div class="icon">
                  <i class="lni lni-vector"></i>
                </div>
                <div class="content">
                  <h5 class="mb-25">Graphics Design</h5>
                  <p>Short description for the ones who look for something new.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-feature wow fadeInUp" data-wow-delay=".4s"
                style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
                <div class="icon">
                  <i class="lni lni-layers"></i>
                </div>
                <div class="content">
                  <h5 class="mb-25">UI/UX Design</h5>
                  <p>Short description for the ones who look for something new.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-feature wow fadeInUp" data-wow-delay=".6s"
                style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                <div class="icon">
                  <i class="lni lni-layout"></i>
                </div>
                <div class="content">
                  <h5 class="mb-25">Web Design</h5>
                  <p>Short description for the ones who look for something new.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-feature wow fadeInUp" data-wow-delay=".8s"
                style="visibility: hidden; animation-delay: 0.8s; animation-name: none;">
                <div class="icon">
                  <i class="lni lni-display"></i>
                </div>
                <div class="content">
                  <h5 class="mb-25">Web Development</h5>
                  <p>Short description for the ones who look for something new.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-img wow fadeInLeft" data-wow-delay=".2s"
      style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
      <img src="assets/img/feature/feature-2-1.svg" alt="">
    </div>
  </section>


  <section id="about" class="about-section about-style-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-image wow fadeInLeft" data-wow-delay=".2s"
            style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <img src="assets/img/about/about-3/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content-wrapper">
            <div class="section-title mb-40">
              <h3 class="mb-25 wow fadeInUp" data-wow-delay=".2s"
                style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">The future of designing starts
                here</h3>
              <p class="wow fadeInUp" data-wow-delay=".4s"
                style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">Stop wasting time and money
                designing and managing a website that doesn’t get results. Happiness guaranteed, Stop wasting time and
                money designing and managing a website that doesn’t get results. Happiness guaranteed,</p>
            </div>
            <div class="counter-up-wrapper mb-40 wow fadeInUp" data-wow-delay=".6s"
              style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
              <div class="single-counter">
                <h4 class="countup" id="secondo1" cup-end="123" cup-append="M">123M</h4>
                <h6>Happy Client</h6>
              </div>
              <div class="single-counter">
                <h4 class="countup" id="secondo2" cup-end="1434" cup-append="K">1434K</h4>
                <h6>Project Done</h6>
              </div>
              <div class="single-counter">
                <h4 class="countup" id="secondo3" cup-end="134" cup-append="K">134K</h4>
                <h6>Award Win</h6>
              </div>
            </div>
            <a href="#0" class="button button-lg radius-3 wow fadeInUp" data-wow-delay=".7s"
              style="visibility: hidden; animation-delay: 0.7s; animation-name: none;">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="portfolio" class="gallery-section gallery-style-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
          <div class="section-title text-center mb-60">
            <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s"
              style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">Project Gallery</h3>
            <p class="wow fadeInUp" data-wow-delay=".4s"
              style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">Stop wasting time and money
              designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
          </div>
        </div>
      </div>
      <div class="row grid" style="position: relative; height: 1135.34px;">
        <div class="col-lg-4 col-md-6 grid-item" style="position: absolute; left: 0px; top: 0px;">
          <div class="single-gallery wow fadeInUp" data-wow-delay=".2s"
            style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="image">
              <img src="assets/img/gallery/gallery-1/gallery-1.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="action">
                  <a href="#0"> <i class="lni lni-link"></i> </a>
                </div>
                <div class="info">
                  <h5>Web Design</h5>
                  <p>Short description for the ones who look for something new. Awesome!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 grid-item" style="position: absolute; left: 360px; top: 0px;">
          <div class="single-gallery wow fadeInUp" data-wow-delay=".4s"
            style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
            <div class="image">
              <img src="assets/img/gallery/gallery-1/gallery-2.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="action">
                  <a href="#0"> <i class="lni lni-link"></i> </a>
                </div>
                <div class="info">
                  <h5>Web Design</h5>
                  <p>Short description for the ones who look for something new. Awesome!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 grid-item" style="position: absolute; left: 0px; top: 366px;">
          <div class="single-gallery wow fadeInUp" data-wow-delay=".6s"
            style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
            <div class="image">
              <img src="assets/img/gallery/gallery-1/gallery-3.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="action">
                  <a href="#0"> <i class="lni lni-link"></i> </a>
                </div>
                <div class="info">
                  <h5>Web Design</h5>
                  <p>Short description for the ones who look for something new. Awesome!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 grid-item" style="position: absolute; left: 360px; top: 461.2px;">
          <div class="single-gallery wow fadeInUp" data-wow-delay=".2s"
            style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="image">
              <img src="assets/img/gallery/gallery-1/gallery-6.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="action">
                  <a href="#0"> <i class="lni lni-link"></i> </a>
                </div>
                <div class="info">
                  <h5>Web Design</h5>
                  <p>Short description for the ones who look for something new. Awesome!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 grid-item" style="position: absolute; left: 0px; top: 694.663px;">
          <div class="single-gallery wow fadeInUp" data-wow-delay=".4s"
            style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
            <div class="image">
              <img src="assets/img/gallery/gallery-1/gallery-4.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="action">
                  <a href="#0"> <i class="lni lni-link"></i> </a>
                </div>
                <div class="info">
                  <h5>Web Design</h5>
                  <p>Short description for the ones who look for something new. Awesome!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 grid-item" style="position: absolute; left: 360px; top: 864.537px;">
          <div class="single-gallery wow fadeInUp" data-wow-delay=".6s"
            style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
            <div class="image">
              <img src="assets/img/gallery/gallery-1/gallery-5.jpg" alt="">
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="action">
                  <a href="#0"> <i class="lni lni-link"></i> </a>
                </div>
                <div class="info">
                  <h5>Web Design</h5>
                  <p>Short description for the ones who look for something new. Awesome!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="pricing" class="pricing-section pricing-style-1 bg-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
          <div class="section-title text-center mb-60">
            <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s"
              style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">Pricing Plan</h3>
            <p class="wow fadeInUp" data-wow-delay=".4s"
              style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">Stop wasting time and money
              designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 col-sm-10">
          <div class="single-pricing wow fadeInUp" data-wow-delay=".2s"
            style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="image">
              <img src="assets/img/pricing/pricing-1/pricing-1.svg" alt="">
            </div>
            <h6>Basic Design</h6>
            <h4>Web Design</h4>
            <h3>$ 29.00</h3>
            <ul>
              <li> <i class="lni lni-checkmark-circle"></i> Carefully crafted components</li>
              <li> <i class="lni lni-checkmark-circle"></i> Amazing page examples</li>
              <li> <i class="lni lni-checkmark-circle"></i> Super friendly support team</li>
              <li> <i class="lni lni-checkmark-circle"></i> Awesome Support</li>
            </ul>
            <a href="#0" class="button radius-30">Get Started</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10">
          <div class="single-pricing active wow fadeInUp" data-wow-delay=".4s"
            style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
            <span class="button button-sm radius-30 popular-badge">Popular</span>
            <div class="image">
              <img src="assets/img/pricing/pricing-1/pricing-2.svg" alt="">
            </div>
            <h6>Standard Design</h6>
            <h4>Web Development</h4>
            <h3>$ 89.00</h3>
            <ul>
              <li> <i class="lni lni-checkmark-circle"></i> Carefully crafted components</li>
              <li> <i class="lni lni-checkmark-circle"></i> Amazing page examples</li>
              <li> <i class="lni lni-checkmark-circle"></i> Super friendly support team</li>
              <li> <i class="lni lni-checkmark-circle"></i> Awesome Support</li>
            </ul>
            <a href="#0" class="button radius-30">Get Started</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10">
          <div class="single-pricing wow fadeInUp" data-wow-delay=".6s"
            style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
            <div class="image">
              <img src="assets/img/pricing/pricing-1/pricing-3.svg" alt="">
            </div>
            <h6>Pro Design</h6>
            <h4>Design &amp; Develop</h4>
            <h3>$ 199.00</h3>
            <ul>
              <li> <i class="lni lni-checkmark-circle"></i> Carefully crafted components</li>
              <li> <i class="lni lni-checkmark-circle"></i> Amazing page examples</li>
              <li> <i class="lni lni-checkmark-circle"></i> Super friendly support team</li>
              <li> <i class="lni lni-checkmark-circle"></i> Awesome Support</li>
            </ul>
            <a href="#0" class="button radius-30">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="team" class="team-section team-style-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
          <div class="section-title text-center mb-60">
            <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s"
              style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">Our Team</h3>
            <p class="wow fadeInUp" data-wow-delay=".4s"
              style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">Stop wasting time and money
              designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-3 col-md-6 col-sm-10">
          <div class="single-team wow fadeInUp" data-wow-delay=".2s"
            style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <div class="image">
              <img src="assets/img/team/team-1/team-1.png" alt="">
            </div>
            <div class="info">
              <h6>John Doe</h6>
              <p>Product Designer</p>
              <ul class="socials">
                <li>
                  <a href="#0"> <i class="lni lni-facebook-filled"></i> </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-twitter-filled"></i> </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-instagram-filled"></i> </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-linkedin-original"></i> </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-10">
          <div class="single-team wow fadeInUp" data-wow-delay=".4s"
            style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
            <div class="image">
              <img src="assets/img/team/team-1/team-2.png" alt="">
            </div>
            <div class="info">
              <h6>David Endow</h6>
              <p>Creative Designer</p>
              <ul class="socials">
                <li>
                  <a href="#0"> <i class="lni lni-facebook-filled"></i> </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-twitter-filled"></i> </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-instagram-filled"></i> </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-linkedin-original"></i> </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-10">
          <div class="single-team wow fadeInUp" data-wow-delay=".6s"
            style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
            <div class="image">
              <img src="assets/img/team/team-1/team-3.png" alt="">
            </div>
            <div class="info">
              <h6>Jonathon Smith</h6>
              <p>Brand Designer</p>
              <ul class="socials">
                <li>
                  <a href="#0"> <i class="lni lni-facebook-filled"></i> </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-twitter-filled"></i> </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-instagram-filled"></i> </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-linkedin-original"></i> </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-10">
          <div class="single-team wow fadeInUp" data-wow-delay=".8s"
            style="visibility: hidden; animation-delay: 0.8s; animation-name: none;">
            <div class="image">
              <img src="assets/img/team/team-1/team-4.png" alt="">
            </div>
            <div class="info">
              <h6>Gray Simon</h6>
              <p>Frontend Developer</p>
              <ul class="socials">
                <li>
                  <a href="#0"> <i class="lni lni-facebook-filled"></i> </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-twitter-filled"></i> </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-instagram-filled"></i> </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-linkedin-original"></i> </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="testimonial" class="testimonial-section testimonial-style-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center mb-60">
            <h3 class="wow fadeInUp" data-wow-delay=".2s"
              style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">Clients Testimonial</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="single-testimonial">
            <div class="content-wrapper">
              <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo duis augue commodo neque auctor nisl,
                  libero nunc, egestas. Pellentesque senectus.</p>
                <div class="quote">
                  <i class="lni lni-quotation"></i>
                </div>
              </div>
              <div class="info">
                <div class="image">
                  <img src="assets/img/testimonial/testimonial-1/testimonial-1.png" alt="">
                </div>
                <div class="text">
                  <h5>John Doe</h5>
                  <p>Youtuber</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="single-testimonial">
            <div class="content-wrapper">
              <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo duis augue commodo neque auctor nisl,
                  libero nunc, egestas. Pellentesque senectus.</p>
                <div class="quote">
                  <i class="lni lni-quotation"></i>
                </div>
              </div>
              <div class="info">
                <div class="image">
                  <img src="assets/img/testimonial/testimonial-1/testimonial-2.png" alt="">
                </div>
                <div class="text">
                  <h5>David Smith</h5>
                  <p>Traveler</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="single-testimonial">
            <div class="content-wrapper">
              <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo duis augue commodo neque auctor nisl,
                  libero nunc, egestas. Pellentesque senectus.</p>
                <div class="quote">
                  <i class="lni lni-quotation"></i>
                </div>
              </div>
              <div class="info">
                <div class="image">
                  <img src="assets/img/testimonial/testimonial-1/testimonial-3.png" alt="">
                </div>
                <div class="text">
                  <h5>Jonathan Doe</h5>
                  <p>Vloger</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="contact" class="contact-section contact-style-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="contact-form-wrapper">
            <form action="assets/php/contact.php" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="single-input">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-input" placeholder="Name">
                    <i class="lni lni-user"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-input" placeholder="Email">
                    <i class="lni lni-envelope"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <label for="number">Number</label>
                    <input type="text" id="number" name="number" class="form-input" placeholder="Number">
                    <i class="lni lni-phone"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" class="form-input" placeholder="Subject">
                    <i class="lni lni-text-format"></i>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="single-input">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" class="form-input" placeholder="Message" rows="6"></textarea>
                    <i class="lni lni-comments-alt"></i>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-button">
                    <button type="submit" class="button radius-10">Submit <i class="lni lni-telegram-original"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-5 order-first order-lg-last">
          <div class="left-wrapper">
            <div class="section-title mb-40">
              <h3 class="mb-15">Get in touch</h3>
              <p>Stop wasting time and money designing and managing a website that doesn’t get results. Happiness
                guaranteed!</p>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-6">
                <div class="single-item">
                  <div class="icon">
                    <i class="lni lni-phone"></i>
                  </div>
                  <div class="text">
                    <p>0045939863784</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-6">
                <div class="single-item">
                  <div class="icon">
                    <i class="lni lni-envelope"></i>
                  </div>
                  <div class="text">
                    <p>yourmail@gmail.com</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-6">
                <div class="single-item">
                  <div class="icon">
                    <i class="lni lni-map-marker"></i>
                  </div>
                  <div class="text">
                    <p>John's House, 13/5 Road, Sidny United State Of America</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="clients-logo-section pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="client-logo wow fadeInUp" data-wow-delay=".2s"
            style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
            <img src="assets/img/clients/brands.svg" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="footer footer-style-1">
    <div class="container">
      <div class="widget-wrapper">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".2s"
              style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
              <div class="logo">
                <a href="#0"> <img src="assets/img/logo/logo.svg" alt=""> </a>
              </div>
              <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis nulla placerat amet
                amet congue.</p>
              <ul class="socials">
                <li> <a href="#0"> <i class="lni lni-facebook-filled"></i> </a> </li>
                <li> <a href="#0"> <i class="lni lni-twitter-filled"></i> </a> </li>
                <li> <a href="#0"> <i class="lni lni-instagram-filled"></i> </a> </li>
                <li> <a href="#0"> <i class="lni lni-linkedin-original"></i> </a> </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6 col-sm-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".3s"
              style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
              <h6>Quick Link</h6>
              <ul class="links">
                <li> <a href="#0">Home</a> </li>
                <li> <a href="#0">About</a> </li>
                <li> <a href="#0">Service</a> </li>
                <li> <a href="#0">Contact</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".4s"
              style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
              <h6>Services</h6>
              <ul class="links">
                <li> <a href="#0">Web Design</a> </li>
                <li> <a href="#0">Web Development</a> </li>
                <li> <a href="#0">Seo Optimization</a> </li>
                <li> <a href="#0">Blog Writing</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".5s"
              style="visibility: hidden; animation-delay: 0.5s; animation-name: none;">
              <h6>Help &amp; Support</h6>
              <ul class="links">
                <li> <a href="#0">Support Center</a> </li>
                <li> <a href="#0">Live Chat</a> </li>
                <li> <a href="#0">FAQ</a> </li>
                <li> <a href="#0">Terms &amp; Conditions</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-wrapper wow fadeInUp" data-wow-delay=".2s"
        style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
        <p>Design and Developed by <a href="https://uideck.com" rel="nofollow" target="_blank">UIdeck</a> Built-with <a
            href="#">Lindy UI Kit</a></p>
      </div>
    </div>
  </footer>


  <a href="#" class="scroll-top"> <i class="lni lni-chevron-up"></i> </a>


  <script src="assets/js/bootstrap.5.0.0.alpha-2-min.js"></script>
  <script src="assets/js/contact-form.js"></script>
  <script src="assets/js/tiny-slider.js"></script>
  <script src="assets/js/count-up.min.js"></script>
  <script src="assets/js/imagesloaded.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/glightbox.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/main.js"></script>

</body>
<app-content ng-version="11.1.0"></app-content>

</html>