{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}
{{ super() }}
Consulta
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block navbar %}
{% include 'navbar_3.html' %}
{% endblock %}

{% block content %}
<body id="body-pd" onload="loadTable()">
  <!--Container Main start-->
  <section id="vista-general">
    <h3 class="mb-10">Vista general</h3>
      <div class="row">
        {% if rol_user == 'Investigador' %}
        <div class="col-lg-3 col-12 col-md-6 px-1">
          <div class="card bg-card-primary  text-white mb-1 radius-10">
            <div class="card-title">
              <div class="text-white iconify">{{all_users|length}}<i class="bx bx-user"></i></div><br>
              <p class="pl-15 text-aling-center font-weight-bold">Docentes registrados</p>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="#" onclick='loadTable(1)'>Ver
                resumen</a>
              <div class="small text-white"><i class="bx bx-chevron-right"></i></div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="col-lg-3 col-12 col-md-6 px-1">
          <div class="card bg-card-secondary text-white mb-1 radius-10">
            <div class="card-title">
              <div class="text-white iconify">{{all_students|length}}<i class="bx bx-face"></i></div><br>
              <p class="pl-15 text-aling-center font-weight-bold">Estudiantes registrados</p>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="#" onclick='loadTable(2)'>Ver
                resumen</a>
              <div class="small text-white"><i class="bx bx-chevron-right"></i></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-12 col-md-6 px-1">
          <div class="card bg-card-tertiary text-white mb-1 radius-10">
            <div class="card-title">
              <div class="text-white iconify">{{all_sessions_info|length}}<i class="bx bx-bar-chart-alt-2"></i></div>
              <br>
              <p class="pl-15 text-aling-center font-weight-bold">Sesiones almacenadas</p>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="#" onclick='loadTable(3)'>Ver
                resumen</a>
              <div class="small text-white"><i class="bx bx-chevron-right"></i></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-12 col-md-6 px-1">
          <div class="card bg-card-quaternary text-white mb-1 radius-10">
            <div class="card-title">
              <div class="text-white iconify">{{recent_sessions|length}}<i class="bx bx-calendar-check"></i></div><br>
              <p class="pl-15 text-aling-center font-weight-bold">Sesiones la ultima semana</p>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="#" onclick='loadTable(4)'>Ver
                resumen</a>
              <div class="small text-white"><i class="bx bx-chevron-right"></i></div>
            </div>
          </div>
        </div>
        {% if not rol_user == 'Investigador' %}
        <div class="col-lg-3 col-12 col-md-6 px-1">
          <div class="card bg-card-primary  text-white mb-1 radius-10">
            <div class="card-title">
              <div class="text-white iconify">{{themes|length}}<i class="bx bx-user"></i></div><br>
              <p class="pl-15 text-aling-center font-weight-bold">Temas trabajados</p>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="#" onclick='loadTable(5)'>Ver
                resumen</a>
              <div class="small text-white"><i class="bx bx-chevron-right"></i></div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-lg-8 px-1">
          <div class="content-wrapper mb-1">
            <div class="section-title">
              <div class="card cards-conclution radius-10">
                <div class="card-header d-flex align-content-center py-1">
                  <i class="fa-solid fa-square-poll-horizontal m-1"></i>
                  <p class="col-2 text-dark font-weight-bolder">Resumen</p>
                </div>
                <div class="card-body align-self-stretch py-1">
                  <div class="table-responsive-sm info-table" id="table_content">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 px-1">
          <div class="content-wrapper">
            <div class="section-title mb-1">
              <div class="card cards-conclution radius-10">
                <div class="card-header d-flex align-content-center py-1">
                  <i class="fa-solid fa-calendar-days m-1"></i>
                  <p class="col-4 text-dark font-weight-bolder">Calendario</p>
                </div>
                <div class="card-body align-self-stretch py-1">
                  <div class="w-100" id="AgendaJS"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div hidden>
        {{ macros.info_template()}}
      </div>
      <p>Container info start</p>
      <div id="container-info">
      </div>
      <p>Container info end</p>
  </section>
  <!--Container Main end-->
  <!-- Config section start -->
  <section id="configuracion" hidden>
    <h3 class="mb-30">Perfil de usuario</h4>
      <div class="contact-section contact-style-6 bg-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <div class="left-wrapper">
                <div class="d-flex align-items-start py-3 border-bottom"> <img
                    src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    class="img-profile" alt="">
                  <div class="pl-sm-4 pl-2" id="img-section"> <b>Foto de perfil</b>
                    <p>Acepta archivos tipo .jpg <br> Menor a 1MB</p> <button
                      class="btn button border"><b>Actualizar</b></button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-6">
                    <div class="single-item">
                      <div class="icon">
                        📞
                      </div>
                      <div class="text">
                        <p>Numero</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7 order-first order-lg-last">
              <div class="contact-form-wrapper">
                <form action="{{ url_for('inicio') }}" method="POST">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="single-input">
                        {{ contacto_form.csrf_token()}}
                        <label for="name">{{ contacto_form.nombre.label() }}</label>
                        {{ contacto_form.nombre() }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="single-input">
                        <label for="email">{{ contacto_form.correo.label() }}</label>
                        {{ contacto_form.correo() }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="single-input">
                        <label for="number">{{ contacto_form.numero.label() }}</label>
                        {{ contacto_form.numero() }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="single-input">
                        <label for="subject">{{ contacto_form.asunto.label() }}</label>
                        {{ contacto_form.asunto() }}
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="single-input">
                        <label for="message">{{ contacto_form.mensaje.label() }}</label>
                        {{ contacto_form.mensaje() }}
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-button">
                        <button type="submit" class="button radius-10">enviar
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

  </section>
  <!-- Config section end -->
  <!-- Calendar section start -->
  <section id="calendario" hidden>
    <h3>Calendario</h3>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 m-5 mid-image">
          <div class="section-title cup-strar">
            <div class="w-100" id="CalendarJS"></div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="content-wrapper">
            <div class="section-title mb-10">
              <h4 class="mb-60">Agenda</h4>
              <div class="w-100" id="AgendaJS"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Config section end -->
  {% endblock %}

  {% block scripts%}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-colreorder/1.5.6/dataTables.colReorder.min.js"
    integrity="sha512-BA+XWPyIsXxbBMmGU7Acq8vBGWAFldhFLOkoU4dL+B6Fs16RnhCC9ff+vy5GzmB783tyuzYs42QGHRbV73e1ug=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript" src="{{url_for('static',filename='js/scripts.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/consult.js')}}"></script>

  <!-- Calendar script -->
  <script type="text/javascript">
    let agendaEl = document.getElementById('AgendaJS');
    let events = Array.from(JSON.parse('{{events | tojson | safe }}'));
    let object_calendar = [];
    events.forEach(function(event){
      object_calendar.push({
        title : event.todo,
        start : event.date,
        end : event.hora_1
      });
    });
    let agenda = new FullCalendar.Calendar(agendaEl, {
      locale: 'es',
      initialView: 'dayGridMonth',
      events: object_calendar,
    });
    agenda.render();
    agenda.setOption('height', '100%');
    agenda.setOption('locale', 'es');
    agenda.setOption('headerToolbar', {
      locale: 'es',
      right: /* 'dayGridMonth,timeGridWeek,timeGridDay' */'',
      left: 'prev,next',
      center: 'title',
    })
    /* 
              headerToolbar: {
                locale: 'es',
                  right: 'dayGridMonth,timeGridWeek,timeGridDay',
                    left: 'prev,next',
                      center: 'title',
              }, */

    var cal2GoTo = function (date) {
      console.log('cal2go ' + date)
      agenda.fullCalendar('gotoDate', date);
    }
  </script>

  <!-- Table Resumen script -->
  <script type="text/javascript">
    var _table_ = document.createElement('table'),
      _tr_ = document.createElement('tr'),
      _th_ = document.createElement('th'),
      _td_ = document.createElement('td'),
      _thead_ = document.createElement('thead'),
      _tbody_ = document.createElement('tbody');

    let last_topic = "";
    let last_student_selected = "";

    function loadTable(card_id=null) {
      let arr = {};
      if (card_id==null || card_id == 1){
        arr = JSON.parse('{{ all_users| tojson | safe }}');
      } else if (card_id == 2) {
        arr = JSON.parse('{{ all_students| tojson | safe }}');
      } else if (card_id == 3) {
        arr = Array.from(JSON.parse('{{ all_sessions_info | tojson | safe }}'));
      } else if (card_id == 4) {
        arr =  Array.from(JSON.parse('{{ recent_sessions | tojson | safe }}'));
      } else if (card_id == 5) {
        arr = Array.from(JSON.parse('{{ themes | tojson | safe }}'));
      }
      var table = _table_.cloneNode(false),
        tbody = _tbody_.cloneNode(false),
        columns = addAllColumnHeaders(arr, table);

      for (var i = 0, maxi = arr.length; i < maxi; ++i) {
        var tr = _tr_.cloneNode(false);
        for (var j = 0, maxj = columns.length; j < maxj; ++j) {
          var th = _th_.cloneNode(false);
          cellValue = arr[i][columns[j]];
          th.appendChild(document.createTextNode(arr[i][columns[j]] || ''));
          th.classList.add("py-0");
          tr.appendChild(th);
        }
        tbody.appendChild(tr);
      }
      table.appendChild(tbody);

      table.id = "table_info";
      table.classList.add("table");
      table.classList.add("compact");
      table.classList.add("table-hover");
      table.classList.add("text-secondary");
      table.classList.add("h-100");

      var el = document.getElementById("table_content");
      el.innerHTML = "";
      el.appendChild(table);
      const datatablesSimple = document.getElementById('table_info');
      if (datatablesSimple) {
        let tables = new DataTable(datatablesSimple, {
          language: {
            url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json'
          }, 
          responsive: true, 
          pageLength: 100,
          scrollY: true,
          dom: "Bfrtip",
          aaSorting: [],
          filter: false,
          paging: false,
          info: false,
          colReorder: orderTable(card_id),
        });
      };

      var table_handler = $('#table_info').DataTable();
      $('#table_info tbody').on('click', 'tr', function () {
        var data = table_handler.row(this).data();
        var column_name = $(table_handler.column().header()).html();
        if (column_name == 'idsesiones') {
          if (data[1] != last_student_selected) {
            ResetContainer();
            last_student_selected = data[1];
          }
          loadSession(data, arr);

        } else if (column_name == "estudiante") {
          alert("Seleccionaste al estudiante " + data[0] + ", próximamente se permitirá la búsqueda detallada por estudiantes :)");

        } else if (column_name == "tema"){
          if (data[0] != last_topic) {
            ResetContainer();
            last_student_selected = data[0];
          }
          loadTopics(data[0]);
        }

      });

      /* selección de cada celda tr pasa a ser td */
      /*     var table = $("#example").DataTable();
        
        $("#example tbody").on( "click", "td", function () {
            var idx = table.cell( this ).index().column;
            var title = table.column( idx ).header();
        
            alert( "Column title clicked on: "+$(title).html() );
        } ); */

    }
    function loadTopics(topic){
      let all_sessions_topic = JSON.parse('{{ all_sessions_info| tojson |safe }}');
      all_sessions_topic = all_sessions_topic.filter(all_sessions_topic => (all_sessions_topic.tema == topic.toLowerCase()));
      all_sessions_topic.forEach(async (session) => {
        session =  Object.values(session);
        session = [session[4], session[1], session[5], session[2], session[3], session[0]]
        let all_sessions = JSON.parse('{{ all_sessions| tojson |safe }}');
        all_sessions = all_sessions.filter(all_sessions => (all_sessions.Sesión == session[0]));
        all_sessions = Object.values(all_sessions);
        let props = JSON.parse('{{props| tojson |safe}}');
        props = props.filter(props => (props.Sesión == session[0]));
        CreateInfoBlock(session, all_sessions, props[0]);
      });
      /* var props = JSON.parse('{{props| tojson |safe}}');
      props = props.filter(props => (props.Sesión == session[0]));

      CreateInfoBlock(session, all_sessions, props[0]); */
    }

    function loadSession(session, arr) {
      var all_sessions = JSON.parse('{{ all_sessions| tojson |safe }}');
      all_sessions = all_sessions.filter(arr => (arr.Sesión == session[0]));
      var props = JSON.parse('{{props| tojson |safe}}');
      props = props.filter(props => (props.Sesión == session[0]));    
      CreateInfoBlock(session, all_sessions, props[0]);
    }
  </script>

  {% endblock %}

  {%block footer%}
  {% include 'footer.html' %}
  {% endblock %}