<footer id="footer" class="footer footer-style-1">
  <div class="container">
    <div class="widget-wrapper">
      <div class="row justify-content-end">
        <div class="col-xl-5 col-lg-5 col-md-6">
          <div class="footer-widget wow fadeInUp justify-content-center" data-wow-delay=".2s">
            <div class="logo">
              <a href="#0"> <img src="{{url_for('static',filename='/images/op8.png')}}" alt="WebAPP icon" style="max-width: 180px;"> </a>
            </div>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis nulla placerat amet amet
              congue.</p>
            <div class="logo">
              <a href="#0"> <img class="w-100" src="{{url_for('static',filename='/images/LogosInicio.png')}}" alt="WebAPP icon"> </a>
            </div>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6 col-sm-6">
          <div class="footer-widget wow fadeInUp" data-wow-delay=".3s">
            <h6>Acceso rápido</h6>
            <ul class="links">
              <li> <a href="#inicio">Inicio</a> </li>
              <li> <a href="#servicios">Servicios</a> </li>
              <li> <a href="#acercade">Acerca de</a> </li>
              <li> <a href="#contacto">Contacto</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
            <h6>Servicios</h6>
            <ul class="links">
              <li> <a href="#0">Registrar Estudiante</a> </li>
              <li> <a href="#0">Iniciar Clase</a> </li>
              <li> <a href="#0">Contacto</a> </li>
              <li> <a href="#0">Consultar</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-wrapper wow fadeInUp" data-wow-delay=".2s">
      <p>Ideas de diseño por<a href="https://uideck.com" rel="nofollow" target="_blank">UIdeck</a><p>Desarrollado por</p>
    </div>
  </div>
</footer>
