<footer id="footer" class="footer footer-style-1">
  <div class="container">
    <div class="widget-wrapper">
      <div class="row justify-content-end">
        <div class="col-xl-8 col-lg-5 col-md-6">
          <div class="footer-widget wow fadeInUp justify-content-center" data-wow-delay=".2s">
            <div class="logo">
              <a href="#0"> <img src="{{url_for('static',filename='/images/op8.png')}}" alt="WebAPP icon" style="max-width: 180px;"> </a>
            </div>
            <div class="logo">
              <a href="#0"> <img class="w-75" src="{{url_for('static',filename='/images/LogosInicio.png')}}" alt="WebAPP icon"> </a>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
            <h6>Servicios</h6>
            <ul class="links">
              <li> <a href="{{url_for('registro_est',terapia=False)}}">Registrar Estudiante</a> </li>
              <li> <a href="{{url_for('iniciar_terapia')}}">Iniciar Clase</a> </li>
              <li> <a href="{{url_for('consulta')}}">Consultar </a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-wrapper wow fadeInUp" data-wow-delay=".2s">
      <p>Ideas de diseño por <a href="https://uideck.com" rel="nofollow" target="_blank">UIdeck</a><p>Desarrollo institucional</p>
    </div>
  </div>
</footer>
