{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
{{ super() }}
Inicio
{% endblock %}
{% block navbar %}
{% include 'navbar_1.html' %}
{% endblock %}
{% block content %}
<section id="inicio" class="hero-section-wrapper-2">
<div class="hero-section hero-style-2">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-5 order-last order-lg-first">
        <div class="hero-content-wrapper pt-0 pt-lg-5">
          <div class="pt-lg-5">
            <div class="pt-lg-5">
              <h2 class="wow fadeInUp text-primary pt-lg-5" data-wow-delay=".2s">DEMI</h2>
              <p class="mb-50 wow fadeInUp justified-text" data-wow-delay=".6s">Herramienta de apoyo para reconocimiento de emociones de personas con Síndrome de Down en actividades virtuales y presenciales.</p>
              <div class="d-flex justify-content-center">
                <a href="{{url_for('iniciar_terapia')}}" class="button button-lg btn-block radius-10 wow fadeInUp" data-wow-delay=".7s">Iniciar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 p-auto m-auto mt-5 mt-lg-auto">
        <div class="hero-image cup-end mid-image mt-5 mt-lg-auto">
          <img src="{{url_for('static',filename='/images/informed_decision.svg')}}" alt="" class="wow fadeInRight" data-wow-delay=".2s">
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section id="servicios" class="feature-section feature-style-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col"></div>
            <div class="section-title mb-60">
              <h3 class="text-center mb-15 wow fadeInUp" data-wow-delay=".2s">Servicios</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
              <div class="content">
                <a class="mb-25 service" href="{{url_for('registro_est',terapia=False)}}">
                  <div class="icon">
                  <img src="{{url_for('static',filename='/images/Icon_editar.svg')}}" alt="Registrar estudiante" style="max-width: 55px;">
                </div><h5 class="mb-25 effect-underline">Registrar estudiante</h5></a>
                <p class="justified-text col-12 col-lg-6">Cargar la información esencial para la identificación del estudiante.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
              <div class="content">
                <a class="mb-25 service" href="{{url_for('iniciar_terapia')}}">
                  <div class="icon">
                    <img src="{{url_for('static',filename='/images/Icon_mas.svg')}}" alt="Iniciar terapia" style="max-width: 55px;">
                  </div>
                  <h5 class="mb-25">Iniciar</h5>
                </a>               
                <p class="justified-text col-12 col-lg-6">Inicia una nueva terapia de inmediato.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
              <div class="content">
                <a class="mb-25 service" href="#contacto">
                  <div class="icon">
                    <img src="{{url_for('static',filename='/images/Icon_email.svg')}}" alt="Contacto" style="max-width: 55px;">
                  </div>
                  <h5 class="mb-25">Contacto</h5>
                </a>
                <p class="justified-text col-12 col-lg-6">Comunicate mediante correo electrónico para obtener mayor información.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single-feature wow fadeInUp" data-wow-delay=".8s">
              <div class="content">
                <a class="mb-25 service" href="{{url_for('consulta')}}">
                  <div class="icon">
                    <img src="{{url_for('static',filename='/images/Icon_buscar.svg')}}" alt="Consultar" style="max-width: 55px;">
                  </div>
                  <h5 class="mb-25">Consulta</h5>
                </a>
                <p class="justified-text col-12 col-lg-6">Navega por la información recopilada a lo largo de las sesiones de terapia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-img wow fadeInLeft" data-wow-delay=".2s">
    <img src="assets/img/feature/feature-2-1.svg" alt="">
  </div>
</section>

<section id="acercade" class="gallery-section gallery-style-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-auto">
        <div class="hero-image mid-image">
          <img src="{{url_for('static',filename='/images/online_test.svg')}}" alt="" class="wow fadeInRight"
            data-wow-delay=".2s">
        </div>
      </div>
      <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-auto">
        <div class="section-title text-left mb-60">
          <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Proyecto</h3>
          <p class="wow fadeInUp justified-text" data-wow-delay=".4s">Demi es una herramienta que nace de la necesidad de apoyar a profesionales que trabajan en actividades terapéuticas y/o pedagógicas a reconocer las emociones de personas con Síndrome de Down (SD) tanto de manera virtual como presencial, con el objetivo de retroalimentar la respuesta del individuo con SD frente a las actividades que estén realizando, para obtener los resultados esperados.</p>
        </div>
      </div>
    </div>
</section>

<section class="clients-logo-section pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="client-logo wow fadeInUp" data-wow-delay=".2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <img src="{{url_for('static',filename='/images/LogosInicio.png')}}" alt="" class="w-100">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contacto" class="contact-section contact-style-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="contact-form-wrapper">
          <form action="{{ url_for('inicio') }}" method="POST">
            <div class="row">
              <div class="col-md-6">
                <div class="single-input">
                  {{ contacto_form.csrf_token()}}
                  <label for="name">{{ contacto_form.nombre.label() }}</label>
                  {{ contacto_form.nombre() }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="single-input">
                  <label for="email">{{ contacto_form.correo.label() }}</label>
                  {{ contacto_form.correo() }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="single-input">
                  <label for="number">{{ contacto_form.numero.label() }}</label>
                  {{ contacto_form.numero() }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="single-input">
                  <label for="subject">{{ contacto_form.asunto.label() }}</label>
                  {{ contacto_form.asunto() }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="single-input">
                  <label for="message">{{ contacto_form.mensaje.label() }}</label>
                  {{ contacto_form.mensaje() }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-button">
                  <button type="submit" class="button radius-10">enviar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5 order-first order-lg-last">
        <div class="left-wrapper">
          <div class="section-title mb-40">
            <h3 class="mb-15">Contacto</h3>
            <p>Solicita mayor información sobre el funcionamiento de la herramienta o acerca del proyecto directamente </p>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-6">
              <div class="single-item">
                <div class="icon">
                  📞
                </div>
                <div class="text">
                  <p>593 0984250154</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-6">
              <div class="single-item">
                <div class="icon">
                  📧
                </div>
                <div class="text">
                  <p><a href="mailto:web.noreply.app@gmail.com" class="mail">niparedes@espe.edu.ec</a></p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-6">
              <div class="single-item">
                <div class="icon">
                  🗺️
                </div>
                <div class="text">
                  <p>Ubicación - Av. General Rumiñahui s/n y Ambato</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{%block footer%}
{% include 'footer.html' %}
{% endblock %}
