<section id="navbar" class="hero-section-wrapper-2">
  <header class="header header-2">
    <div class="navbar-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
                aria-controls="navbarSupportedContent2"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                </button>
              <div class="navbar-collapse sub-menu-bar collapse" id="navbarSupportedContent2">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item align-self-end">
                    <button type="button" class="button button-sm  radius-10 d-lg-flex ml-auto">
                      <a href="{{url_for('inicio')}}" style="color: white;">Salir</a></button>
                  </li>
                </ul>
              </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
</section>

