{% extends 'base.html' %}

{% block title %}
{{ super() }}
Iniciar Terapia
{% endblock %}

{% block navbar %}
{% include 'navbar_2.html' %}
{% endblock %}

{% block content %}

<section id="iniciar_terapia" class="contact-section contact-style-6 mt-0">
  <div class="container justify-content-center">
    <div class="row">
    <div class="col-lg-5">
      <div class="content-wrapper">
        <div class="section-title mb-25">
          {% if rol != 'est' %}
            <h3 >Bienvenido</h3>
            <h4 class="mb-20">{{ data.nombre | capitalize }}</h4>
          {% else %}
            <h5 class="mb-60">Información del estudiante</h5>
          {% endif %}
          <div class="contact-form-wrapper">
            {% if rol == 'inv/doc' %}
            <form autocomplete="off" action="{{ url_for('iniciar_terapia') }}" method="POST">
              <fieldset>
                <h5 class="mb-2">Información de la sesión</h5>
                <div class="select-input mb-1">
                  {{ terapia_form.csrf_token() }}
                  <label class="mb-0" for="name s">
                    <p class="text-muted">Nombre del estudiante</p>
                  </label>
                  {{ terapia_form.nombre_form(class_="d-flex justify-content-end")}}
                  {{ terapia_form.identificacion_form(class_="d-flex justify-content-end")}}
                  <select name="nombre_select" onchange="set_values()" id="nombre"></select>
                </div>
              </fieldset>
              <fieldset>
                <div class="single-input mb-1">
                  <label class="mb-0" for="institucion s">
                    <p class="text-muted">Institución Educativa</p>
                  </label>
                  <input name="text_inst" type="text" readonly id="institucion" class="form-input">
                </div>
              </fieldset>
              <fieldset>
                <div class="single-input mb-1">
                  <label class="mb-0" for="grado s">
                    <p class="text-muted">Grado Escolar</p>
                  </label>
                  <input name="text_grado" type="text" readonly id="grado" class="form-input">
                </div>
              </fieldset>
              <fieldset>
                <div class="select-input mb-1">
                  <h5 class="mt-10">Evaluación Inicial</h5>
                  <label class="mb-0" for="grado s">
                    <h6>{{terapia_form.emocion_percibida.label(class_="mb-0")}}</h6>
                  </label>
                  {{terapia_form.emocion_percibida()}}
                  {% for error in terapia_form.emocion_percibida.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
                </div>
              </fieldset>
              <fieldset>
                <div class="single-input mb-1">
                  <label class="mb-0" for="grado s">
                    <h6>Tipo de sesión</h6>
                  </label>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="altern-text form-check form-check-inline mr-50">
                    <h6>Presencial</h6>
                  </div>
                  <div class="form-check form-check-inline form-switch">
                    {{terapia_form.virtual(class_="col form-check-input")}}
                  </div>
                  <div class="altern-text form-check form-check-inline">
                    <h6>Virtual</h6>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="mt-10 wow fadeInUp form-button">
                  {{terapia_form.iniciar(class_=" button radius-10 w-100")}}
                  {% for error in terapia_form.errors %}
                  <span style="color: red;">El error es {{ error }}</span>
                  {% endfor %}
                </div>
              </fieldset>
            </form>
            {% else %}
            <form>
              <fieldset>
                <div class="single-input ">
                  <label for="grado s">
                    <h6>Grado Escolar</h6>
                  </label>
                  <input type="text" readonly id="grado_est" class="form-input text-center" value="{{data.grado}}">
                </div>
              </fieldset>
              <fieldset>
                <div class="single-input">
                  <label for="institucion s">
                    <h6>Institución Educativa</h6>
                  </label>
                  <input type="text" readonly id="institucion_est" class="form-input text-center" value="{{data.institucion|capitalize }}">
                </div>
              </fieldset>
              <fieldset>
                <div class="text-center form-button wow fadeInUp">
                  <a href="{{url_for('script.ventana_carga')}}"><button type="button" class="button radius-10">Iniciar</button></a>
                </div>
              </fieldset>
            </from>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 ml-auto p-auto">
      <div class="hero-image cup-end">
        <img src="{{url_for('static',filename='/images/Reading_book.svg')}}" alt="" class="wow fadeInRight"
          data-wow-delay=".2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight; max-width: 100%; ">
      </div>
    </div>
    </div>
  </div>
  {% if rol == 'inv/doc' %}
  <div class="container">
    <div class="row mt-10">
      <div class="col-md-12">
          <div class="section-title mb-30 ">
            <h6 class="text-center mb-15 wow fadeInUp" data-wow-delay=".2s">¿Estudiante nuevo?</h6>
            <div class="text-center form-button wow fadeInUp">
              <a href="{{url_for('registro_est',terapia=True)}}"><button type="button" class="button radius-10">Registrar</button></a>
            </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</section>

{% endblock %}

{% block scripts%}
{{super()}}

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
</script> -->

 <script type="text/javascript">
      window.onload = function () {
      /* alert("Page is loaded"); */
      var x = document.getElementById("nombre");
      var option = document.createElement("option");
      option.text = "";
      x.add(option);
      {% for student in students %}
      var option = document.createElement("option");
      option.text = "{{ student['estudiante']| capitalize }}";
      x.add(option);
      {% endfor %}
    }
    
  


  function set_values() {
    var index = document.getElementById("nombre").selectedIndex;
    var nombre = "";
    var inst = "";
    var grado = "";
    var identificacion = "";
    var i = 1;
    {% for student in students %}
      if (index == i) {
        var nombre = "{{student['estudiante']}}"
        var inst = "{{student['institucion']}}";
        var grado = "{{student['grado']}}";
        var identificacion = "{{student['identificacion']}}"
      }
      i+=1;
    {% endfor %}
  document.getElementById("nombre_form").value = nombre;
  console.log(nombre)
  document.getElementById("institucion").value = inst;
  document.getElementById("grado").value = grado;
  document.getElementById("identificacion_form").value = identificacion;    
  }

</script>



{% endblock %}
{%block footer%}
{% include 'footer.html' %}
{% endblock %}